@import "modules/mixins";
@import "vendor/grids";
@import "vendor/normalize";
@import "bourbon/bourbon";
@import "fontAwesome/font-awesome";
@import "animate/animate";
@import "vendor/dropit";

* {
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
            box-sizing:border-box;
}

/* STANDARD STYLES */
html, body {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #2d2b22;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Bitter", Helvetica, Arial, sans-serif;
}

/* GENERAL MEDIA QUERY - MAX WIDTH */
.container {
  /*padding: 20px;

  // tablet query
  padding: 50px; */

  @media (min-width: 750px) {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;    
  }
}

/* HEADER */
.main_nav {
    background-color: rgb(0, 51, 30);
    padding: 15px;
  } 

.main_nav .logo {
  text-align: center;

  @media (min-width: 560px){
    text-align: left;
    margin: 0 3%;
  }
}

.main_nav .btn-outline {
  padding: 10px 12px;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  text-align: center;
  width: 48%;
  float: right;
  margin: 10px auto;

  @media (min-width: 560px){
    width: auto;
    margin: 0 3%;
  }
}

.main_nav .log-in {
  width: 48%;
  float: left;
  text-align: center;
  margin: 10px auto;
  padding: 10px 10px;
  border: 2px solid #ffffff;
  border-radius: 4px;

  @media (min-width: 560px){
    width: auto;
    margin: 12px 10px;
    padding: 0;
    border: 0;
    border-radius: 0;
    float: right;
  }
}

.main_nav .btn-outline > a, .main_nav .log-in > a {
  color: #ffffff;
  text-decoration: none;
}

.main_nav .btn-outline:hover,
.main_nav .log-in:hover {
  background: #FFFFFF;
}

.main_nav .log-in:hover {
  @media (min-width: 560px){
    background: none;
  }
}

.main_nav .btn-outline:hover > a,
.main_nav .log-in:hover > a {
  color: #00331e;
}

.main_nav .log-in:hover > a {
  @media (min-width: 560px){
    color: #ebc300;
  }
}

/* HEADER HERO */

.hero {
  @media (min-width: 620px){
    padding: 100px 0;
  }
} 

header .hero{
  text-align: center;
  display: block;
  width: 100%;
  background-image: url("../../images/hero-image.png");
  background-size: cover;
  background-position: center;
  display: table;
  min-height: 345px; 

  @media (min-width: 1000px){
    min-height: 490px;
  }
}

header .hero h1 {
  font-size: 36px;
  font-weight: normal;
  margin: 50px 0 0;
  line-height: 45px;
  color: #ffffff;

  @media (min-width:1000px){
    font-size: 48px;
  }
}

header .hero p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 100;
  margin: 10px 0 40px;
  color: #ffffff;
  padding: 0 20px;

  @media (min-width:1000px){
    font-size: 22px;
    padding: 10px 20px;
  }
}

/* BUTTONS */
.btn {
  border-radius: 4px;
  color: #2d2b22;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
  padding: 15px 34px;
  background: #ebc300;
  border: 2px solid #ebc300;
  box-shadow: 0px 2px 0px 0px #c6a400
}

/* BENEFITS */
.note, .image, .link {
  text-align: center;
  margin: 0 auto;
  padding-top: 2em;

  @media (min-width: 1000px){
    padding-top: 4em;
  }
}

.note {
  display: block;
  width: 100%;
  background-image: url("../../images/note-background.png");
  background-size: cover;
  background-position: center;
}

.image {
  display: block;
  width: 100%;
  background-image: url("../../images/image-background.png");
  background-size: cover;
  background-position: center;
}

.link {
  display: block;
  width: 100%;
  background-image: url("../../images/link-background.png");
  background-size: cover;
  background-position: center;
}

.note i, .image i, .link i {
  color: #00331e;
  font-size: 54px; 
  margin: 0;

  @media (min-width: 1000px){
    font-size: 64px;
  }
}

.note h2, .image h2, .link h2 {
  color: #00331e;
  margin: 20px;
  font-size: 24px;
  font-weight: normal;

  @media (min-width: 1000px){
    font-size: 32px;
  }
}

.note p, .image p, .link p {
  color: #2d2b22;
  padding: 0px 20px;
  font-size: 16px;
  font-weight: normal;
  line-height: 21px;

  @media (min-width: 425px){
    padding: 0px 60px;
  }

  @media (min-width: 600px){
    padding: 0px 100px;
  }

  @media (min-width: 840px){
    padding: 0px 210px;
  }

  @media (min-width: 1000px){
    padding: 0px 10px;
    margin-top: -10px;
  }
}

.note-content, 
.link-content {
  @media (min-width: 1000px){
    position: relative;
    top: 50px;
    left: 30px;
  }
}

.image-content {
  @media (min-width: 1000px){
    position: relative;
    top: 50px;
    left: 660px;
  }
}

.note .benefit-image img,
.image .benefit-image img,
.link .benefit-image img {
  width: 90%;
  display: block; /* You need this b/c img tags by default are inline */
  margin: 0 5%;

  @media (min-width: 1000px){
    width: 93%;
  }
}

.image .benefit-image img {
  @media (min-width: 1000px){
    position: relative;
    right: 55%;
  }
}

/* PRICING */
.pricing {
  display: block;
  background: #00331e;
  background: linear-gradient(75deg, #00331e, #3e7f62);
  background-size: cover;
  text-align: center;
  padding: 1em 0;

  @media (min-width: 1000px){
    padding: 2em 0;
  }
}

.pricing h2 {
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;

  @media (min-width: 1000px){
    font-size: 32px;
  }
}

.pricing ul li {
  list-style-type: none;
}

.box {
  padding: 0 15px 15px;
  background: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
  min-height: 423px;
  position: relative;
  margin: 25px 5% 20px;

  @media (min-width: 440px){
    margin: 25px 15% 20px;
  }

  @media (min-width: 580px){
    margin: 25px 25% 20px;
  }
  @media (min-width: 840px){
    margin: 25px 5% 20px;
  }
}

.box h3 {
  font-family: "Bitter", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
  background: #e2e2e2;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.40);
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin: 0 -15px 40px;
  padding: 10px 0;
}

.box h4 {
  font-size: 50px;
  font-weight: normal;
  margin: 40px 0 10px;
  color: #2a8e53;
}

.box .number {
  font-size: 65px;
  font-weight: normal;
  color: #2a8e53;
}

.box h5 {
  font-size: 14px;
  font-weight: normal;
  margin: -10px 0 10px;
  color: #2a8e53;
}

.box h4 span {
  font-size: 32px;
  font-weight: normal;
  vertical-align: top;
}

.box h4 span.month {
  position: relative;
  top: 15px;
  right: 10px; 
  font-family: "Bitter", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #2a8e53;
  font-size: 20px;
}

.box .free-content {
  padding: 0;
  margin-top: 20px;
}

.box .other-content {
  padding: 0;
  position: relative;
  top:9px;
}

.box ul li {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 100;
}

.box .btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
}

.small {
  font-size: 12px;
  color: #fefefe;
  line-height: 15px;
  font-style: italic;
  margin: 40px 5px;
}

/* TESTIMONIALS */
.testimonials {
  padding: 1em 0;
  text-align: center;

  @media (min-width: 1000px){
    padding: 2em 0;
  }
}

.testimonials h2 {
  color: #2a8e53;
  font-size: 24px;
  font-weight: normal;

  @media (min-width: 1000px){
    font-size: 32px;
  }
}

.testimonials ul li {
  list-style-type: none;
}

.testimonials p {
  font-size: 16px;
  color: #333333;
  font-weight: normal;
  margin: 0 5% 50px;
}

.testimonials .top-line {
  border-top: 1px solid #333333;
  display: block;
  position: relative;
  margin: 0 5%;
}

.testimonials .top-line:after {
  content: url("../../images/quote-image.png");
  position: absolute;
  margin: -12px -36px;
}

.testimonials blockquote {
  color: #333333;
  text-align: center;
  font-style: italic;
  position: relative;
  padding: 30px;
  width: auto;
  margin: 0;
}

.testimonials .bottom-line {
  border-top: 1px solid #333333;
  display: block;
  position: relative;
  margin: 0 5%;
}

.testimonials .bottom-line:after {
  content: url("../../images/triangle-image.png");
  position: absolute;
  margin: -1px -15px;
} 

.testimonials img {
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin: 40px 0px 0;
}

.testimonials p.name {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
}

/* FOOTER */
.footer-nav-block {
  display: block;
  text-align: center;
  padding: 0.5em 0;
  background-color: #00331e;
  background-image: linear-gradient(to bottom, #00331e 70%, #62917e 30%);

  @media (min-width: 840px){
    padding: 0.5em 0;
    background-image: linear-gradient(to right, #00331e 70%, #62917e 30%);
    /*max-width: 995px;*/
  }
}

.footer-nav-block .copyright-block, 
.footer-nav-block .link-list {
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  font-family: "Roboto", Helvetica, Arial, sans-serif; 
  color: #ffffff;
  @media (min-width: 840px){
    padding-top: 20px;
  }
}

.footer-nav-block .link-list {
  line-height: 20px;
}

.footer-nav-block .link-list li {
  list-style-type: none;
  display: inline;
}

.footer-nav-block ul {
  margin-right: 30px;  
  }

.footer-nav-block .link-list a {
  color: #ffffff;
  text-decoration: none;
}

.footer-nav-block .logo {
  padding-top: 20px;
  margin: 0 auto;
  display: block;

  @media (min-width: 395px){
    padding-top: 40px;
  }
  @media (min-width: 840px){
    padding-top: 25px;
  }
  @media (min-width: 1100px){
    margin-left: 140px;
  }
  @media (min-width: 1220px){
    margin-left: 170px;
  }
  @media (min-width: 1280px){
    float:right;
  }
}

/* DASHBOARD GRID */
.dcontainer {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.dcontainer:before,
.dcontainer:after {
  content: " ";
  display: table;
}

.dcontainer:after {
  clear: both;
}

@media (min-width: 768px){
  .dcontainer {
    width: 750px;
  }
}

@media (min-width: 992px){
  .dcontainer {
    width: 970px;
  }
}

@media (min-width: 1200px){
  width: 1170px;
}

/* DASHBOARD */
.dashboard {
  background: #f7f7f7;
}

.left-nav {
  height: 100%;
  width: 280px;
  color: #ffffff;
  background: #00331e;
  background-image: linear-gradient(75deg, #00331e, #3e7f62);
  float: left;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(-280px, 0);
    -webkit-transform: translate(-280px,0); /** Chrome & Safari **/
    -o-transform: translate(-280px,0); /** Opera **/
    -moz-transform: translate(-280px,0); /** Firefox **/  
}

.left-nav.open {
  display: block;
  width:280px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
    z-index: 100;
}

.hamburger {
  position: absolute; /* So it always appears in top left corner */
  z-index: 1000; /* In order to set Icon to front */
  background: #00331e;
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  padding: 10px 15px;
  border-radius: 4px;
  left: 5px;
  top: 15px;
}

@media (min-width: 992px){
  .left-nav {
    height: 100vh;
    width: 14.66666667%;
    color: #ffffff;
    background: #00331e;
    background-image: linear-gradient(75deg, #00331e, #3e7f62);
    float: left;
    position: fixed;
    display: block;
    transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
  }
  .left-nav.open {
    width: 14.66666667%;
    transform: translate(0,0);
    -webkit-transform: translate(0,0); /** Chrome & Safari **/
    -o-transform: translate(0,0); /** Opera **/
    -moz-transform: translate(0,0); /** Firefox **/
  }
  .hamburger {
    display: none;
  }
}

.left-nav .site-logo {
  padding: 20px 0;
  background: #00331e;
  display: block;
  text-align: center;
}

.left-nav .items {
  padding: 0 6%;
}

.left-nav .items p {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 12px;
  color: #e2e2e2;
  line-height: 15px;
}

.left-nav .items ul {
  margin: 0 0 40px;
  padding: 0;
}

.left-nav .items ul li {
  list-style-type: none;
  margin-bottom: 15px;
}

.left-nav .items ul li a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 100;
  position: relative;
}

.left-nav .items ul li a:active {
  color: #ebc300;
  top: 3px;
} 

.left-nav .items ul li a i {
  width: 16px;
  text-align: center;
  margin-right: 8px;
}

/* LEFT NAVBAR SETTINGS */
.left-nav .settings {
  position: absolute;
  background: #001f12;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
}

.left-nav .settings img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: 10px;
  display: inline-block;
  position: relative;
  top: 2px;
}

.left-nav .settings p {
  display: inline-block;
  vertical-align: top;
  padding-top: 8px;
  font-weight: 400;
  margin: 0 0 0 10px;
}

.left-nav .settings .cog-icon {
  color: #ffffff;
  text-decoration: none;
  text-align: right;
  float: right;
  margin-right: 10px;
  position: relative;
  bottom: 2px;
}

/* CONTENT */
.content {
  padding: 6em 1 % 1.5em;
  float: right;
  width: 98%;
  position: relative;
}

.content .header {
  margin:0 1% 20px;
}

.content .header h1 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 30px;
  font-size: 28px;
  color: #356c53;
  line-height: 44px;
  float: left;
  display: inline-block;
}

.content .header > a {
  float: right;
}

.content-item {
  width: 96%;
  margin: 0 2% 25px;
  float: left;
  display: block;
}

.item-box {
  display: block;
  height: 230px;
  background: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.40);
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.item-box > img {
  position: absolute;
  height: 100%;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
}

.item-box h2 {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  margin: 0;
}

.item-box h2 a {
  color: #04b24b;
  text-decoration: none;
}

.item-box h2 img {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.item-box p {
  font-size: 14px;
  color: #2d2b22;
  line-height: 18px;
  margin: 5px 0 0;
}

/* DASHBOARD LARGER MOBILE DEVICES */
@media (min-width: 460px){
  .content {
    padding: 1.5em 1%;
    float: right;
    width: 90%;
    position: relative;
  }
  .content-item {
    width: 46%; /* 2-Column Total */
    margin: 0 2% 25px;
    float: left;
    display: block;
  }
}

/* DASHBOARD - TABLETS */
@media (min-width: 768px){
  .content {
    padding: 1.5em 5%;
    float: right;
    width: 90%;
    position: relative;
  }
  .content > .dcontainer {
    width: 700px;
  }
  .content-item {
    width: 31.33333%; /* 3-Column Total */
    margin: 0 1% 25px;
  }
}

/* DASHBOARD - LAPTOPS AND DESKTOPS */
@media (min-width: 992px){
  .content {
    padding: 1.5em 1%;
    float: right;
    width: 83.33333333%; /* Matches up with Left Nav at 14.6667% */
    position: relative;
  }
  .content > .dcontainer {
    width:auto;
  }
  .content-item {
    width: 23%; /* 4-Column Total */
    margin:0 1% 25px;
  }
  .left-nav {
    width: 16.666667%;
  }
  .left-nav .settings img {
    height: 25px;
    width: 25px;
  }
  .left-nav .settings p {
    font-size: 13px;

  }
  .left-nav .settings .cog-icon {
    bottom: 9px;
  }
}


